
<header id="home" class="masthead">
    <video id="mastheadVideo" muted autoplay loop playsinline>
      <source src="/assets/video/header.mp4" type="video/mp4" />
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <div class="overlay"></div>
    <div class="container">        
      <div class="masthead-heading">
        <img src="/assets/img/navbar-logo.svg" alt="AYA BioArquitetura" class="masthead-logo">
      </div>
      <div class="masthead-subheading">Seja bem-vindo!</div>
      <div class="scroll-hint">
        <p>Role para baixo para maiores informações</p>
        <div class="arrow">
          <span></span>
        </div>
      </div>
    </div>
  </header>

