<div class="dashboard-container">
  <div class="left-container">
    <app-minisidebar></app-minisidebar>
    <app-sidebar (sectionChange)="setSection($event)"></app-sidebar>
  </div>
  <div class="main-container">
    <div class="content">
      <!-- Renderiza componentes dinamicamente -->
      <ng-container *ngIf="activeSection === 'calendar'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'chat'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'dash'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'scrum-view'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'pgc'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'analise'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'apresentacao'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
      <ng-container *ngIf="activeSection === 'prazos'">
        <app-controle-contratos></app-controle-contratos>
      </ng-container>
    </div>
  </div>
</div>
